
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Find Similar Images</title>
	<link rel="stylesheet" href="static/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container">


    {% if not json_prediction %}

        <h1>
			No similar images...
        </h1>

    {% else %}

        <h1>Look what we found! These are the similar images that you were looking for.</h1>


        <div class="row justify-content-md-center"></div>
        {% for key, segment in json_prediction.items() %}
            <div class="col-3">
                <img src="{{ segment }}"
                    onerror="this.src='https://avatars1.githubusercontent.com/u/7140413?s=460&v=4'"
                    class="img-thumbnail"
                    alt=""
                    width="120"
                    height="120">
            </div>
        {% endfor %}
        </div>

    {% endif %}

    </div>

</body>
</html>
